.selection-circle{
  height: 3.5rem;
  width: 75%;
  border-radius: 50%;
  border: 1px solid;
  padding: 1rem 0;
}

.red{
  background-color: red;
  color: white;
}

.yellow{
  background-color: yellow;
  color: white;
}

.disabled{
  pointer-events: none;
  opacity: 0.3;
}
